#debug
{
    background-color: yellow;
    padding: 6px;
    display: inline-block;
    min-width: 250px;
}

table,th,td
{
    border:2px solid black;
    border-collapse:collapse;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    padding: 2px;
}